@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
  padding: 32px;
}

@media (min-width: 640px) {
  body {
    padding: 48px;
  }
}

.alert-translate {
  animation: alert-translate .5s forwards;
}

@keyframes alert-translate {
  100% {
    transform: translateY(80px);
  }
}
